-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "phone" TEXT,
    "role" TEXT NOT NULL DEFAULT 'USER',
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "LoanApplication" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "applicationId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "loanType" TEXT NOT NULL,
    "loanAmount" REAL NOT NULL,
    "interestRate" REAL NOT NULL,
    "tenure" INTEGER NOT NULL,
    "monthlyEmi" REAL,
    "fullName" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "dateOfBirth" TEXT,
    "gender" TEXT,
    "address" TEXT,
    "city" TEXT,
    "state" TEXT,
    "pincode" TEXT,
    "employmentType" TEXT,
    "employerName" TEXT,
    "monthlyIncome" REAL,
    "workExperience" TEXT,
    "aadhaarUrl" TEXT,
    "panUrl" TEXT,
    "passbookUrl" TEXT,
    "aadhaarNumber" TEXT,
    "panNumber" TEXT,
    "itrFiled" BOOLEAN NOT NULL DEFAULT false,
    "documentsUploaded" TEXT,
    "fatherName" TEXT,
    "alternatePhone" TEXT,
    "permanentAddress" TEXT,
    "loanPurpose" TEXT,
    "existingLoan" TEXT,
    "existingLoanDetails" TEXT,
    "existingEmi" TEXT,
    "approxCibilScore" TEXT,
    "bankStatement" BOOLEAN NOT NULL DEFAULT false,
    "salarySlip" BOOLEAN NOT NULL DEFAULT false,
    "passportPhoto" BOOLEAN NOT NULL DEFAULT false,
    "declarationAccepted" BOOLEAN NOT NULL DEFAULT false,
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "rejectionReason" TEXT,
    "processingFeePaid" BOOLEAN NOT NULL DEFAULT false,
    "notificationSent" TEXT,
    "paymentOrderId" TEXT,
    "paymentAmount" REAL,
    "paymentMethod" TEXT,
    "paymentStatus" TEXT NOT NULL DEFAULT 'PENDING',
    "paymentCompletedAt" DATETIME,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "LoanApplication_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "LoanApplication_applicationId_key" ON "LoanApplication"("applicationId");

